/* Text --------------------------------------- */

body {
    font-family: 'Karla', sans-serif;
    font-weight: 300;
}

main {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 32px;
}

ul {
    display: flex;
    align-items: baseline;
    gap: 56px;
    font-size: 20px;
}

nav {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.linkbar a {
    text-decoration: none;
    color: #A6A6A6;
    font-size: 20px;
}

.linkbar a:hover {
    color: #202020;
}

h1 {
    font-size: 42px;
    color: #4C4C4C;
    font-weight: 500;
    text-align: center;
    padding-bottom: 32px;
}

h2 {
    font-size: 34px;
    color: #4C4C4C;
    font-weight: 500;

}

h3 {
    font-size: 30px;
    color: #797979;
    padding-bottom: 56px;
    padding-top: 24px;

}

p {
    font-size: 18px;
    color: #797979;
    line-height: 24px;
}

header {
    gap: 32px;
    width: 100%;
    max-width: 848px;
    height: auto;
    padding-top: 208px;
    padding-bottom: 184px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#description {
    font-size: 28px;
    color: #797979;
    text-align: center;
    line-height: 33px;
}

/* Proyects --------------------------------------- */

.proyectinfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.proyectbutton {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 416px;
}

.proyectimg {
    width: 740px;
    height: 432px;
}

.proyect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.allproyects {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin-bottom: 152px;
}

/* Button --------------------------------------- */

.button {
    font-size: 20px;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 8px;
    text-align: center;
    align-items: center;
    color: #4C4C4C;
    outline: 1px solid #4C4C4C;
    border-radius: 8px;
}

.button .buttonicon {
    display: none;
    height: 20px;
    width: 20px;
}

.button:hover .buttonicon {
    display: block;
    height: 20px;
    width: 20px;
}

/* Footer --------------------------------------- */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    align-items: flex-end;
}

.footerlink {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Icons --------------------------------------- */

#cv a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}